<div class="author">
  <h1 class="author__heading">Hi, I am Sagar.</h1>
  <p class="author_body">Web Developer and Designer</p>
</div>

<img
  src="https://images.unsplash.com/photo-1544502062-f82887f03d1c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1559&q=80"
  alt="me"
  class="hero__img" />

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>
  <ul class="article-ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="article-list__date">Date</span>
      </a>
    </li>
  </ul>

  <a href="#" class="pagination">&lt;</a>
</section>
